<div class="container-fluid dip-container">
  <spinner *ngIf="loading"></spinner>
  <error *ngIf="error"></error>
  <div *ngIf="!selectedImage" style="font-size: 2.5em;">Select an image from the toolbar on the right -------></div>
  <div class="img-container">
    <div>
      <div *ngIf="selectedImage">
        <div>
          <img [src]="selectedImage.url"/>
        </div>
        <div class="photo-label">Original</div>
      </div>
    </div>
    <div class="img-width">
      <div *ngIf="result">
        <div>
          <img [src]="result.urls[0]"/>
        </div>
        <div class="photo-label">Result</div>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="form-width">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Red</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="phaseShifts.red" placeholder="Enter phase shift">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Blue</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="phaseShifts.blue" placeholder="Enter phase shift">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Green</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="phaseShifts.green" placeholder="Enter phase shift">
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
