<div class="container-fluid dip-container">
  <spinner *ngIf="loading"></spinner>
  <error *ngIf="error"></error>
  <div class="img-container">
    <div class="original-image-container">
      <div *ngIf="selectedImage">
        <div>
          <img [src]="selectedImage.url"/>
        </div>
        <div class="photo-label">Original</div>
      </div>
    </div>
    <div *ngIf="result" class="image-flex-row">
      <div>
        <img [src]="result.urls[0]"/>
        <div class="photo-label">RGB Result</div>
      </div>
      <div>
        <img [src]="result.urls[1]"/>
        <div class="photo-label">HSI Result</div>
      </div>
      <div>
        <img [src]="result.urls[2]"/>
        <div class="photo-label">Difference</div>
      </div>
    </div>
  </div>
  <div class="field-container">
    <div class="form-check">
      <div>
        <input [(ngModel)]="filter" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="gaussian" checked>
        <label class="form-check-label" for="exampleRadios1">
          Gaussian
        </label>
      </div>
      <div>
        <input [(ngModel)]="filter" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="uniform">
        <label class="form-check-label" for="exampleRadios2">
          Average
        </label>
      </div>
      <div>
        <input [(ngModel)]="filter" class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="laplacian">
        <label class="form-check-label" for="exampleRadios3">
          Laplacian
        </label>
      </div>
    </div>
    <div class="input-container">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Kernel Width</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="kernelWidth" placeholder="Enter odd integer kernel width">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Sigma Value</label>
        <div class="col-sm-10">
          <input class="form-control" [(ngModel)]="sigma" placeholder="Enter sigma value for gaussian filter">
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
