<div class="container-fluid dip-container">
  <spinner *ngIf="loading"></spinner>
  <div class="img-container">
    <div>
      <div *ngIf="selectedImage">
        <div>
          <img [src]="selectedImage.url"/>
        </div>
        <div class="photo-label">Original</div>
      </div>
    </div>
    <div class="img-width">
      <div *ngIf="result">
        <div>
          <img [src]="result.urls[0]"/>
        </div>
        <div class="photo-label">Result</div>
      </div>
    </div>
  </div>
  <div>
    <div class="form-group row" *ngFor="let slice of sliceCounter; let i = index">
      <label class="col-sm-2 col-form-label">Slice {{ i+1 }}</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="sliceValues[i]" (blur)="sliceChange($event.target.value, i)" placeholder="Enter intensity">
      </div>
    </div>
    <div class="form-group row" *ngFor="let color of sliceCounter; let i = index">
      <label class="col-sm-2 col-form-label">Color below slice {{ i+1 }}</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="sliceColors[i]" (input)="intervalColorChange($event.target.value, i)" placeholder="Enter RGB color in form: 0,0,0">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Color above slice {{ sliceColors.length }}</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="lastSliceColor" placeholder="Enter RGB color in form: 0,0,0">
      </div>
    </div>
    <div>
      <button class="btn btn-info" (click)="addSlice()">Add Slice</button>
      <button class="btn btn-info action-btn" (click)="removeSlice()">Remove Slice</button>
      <button class="btn btn-primary action-btn" (click)="submit()">Submit</button>
    </div>
  </div>
</div>

